/* * {
  padding: 0;
  margin: 0;
}
.app {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}
/* header heseg endees ehelsen */
/* .headerContainer {
  position: absolute;
  z-index: 10;
  width: 100vw;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 87px;
  height: 26px;
}
.linkContainer {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.colorOfLinks {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid gray;
}
.spclOne {
  color: gray;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid gray;
  padding: 5px 10px 5px 10px;
} */

/* header end duussan */

.Instant {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;

  background-image: url(./images/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  /* height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px; */
}
.container {
  max-width: 90vw;
}
.content {
  margin-top: 16%;
  width: 50%;
}
.Instant h1 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}
.Instant span {
  color: #fff;
  font-size: 18px;
}
.searchContainer {
  width: 100%;
  height: 56px;
  display: flex;
  gap: 10px;
}
#srchInpt {
  width: 300px;
  border-radius: 4px;
  outline: none;
  border: 0;
  padding-left: 16px;
}
.srchBtn {
  width: 163px;
  background-color: #0bbef2;
  color: #fff;
  border-radius: 4px;
  border: 0;
}
/* 
.Activities {
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
.leftContainer {
  width: 50%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.leftContainer h1 {
  font-size: 48px;
  font-weight: bold;
}
.leftContainer span {
  font-size: 18px;
  font-weight: 500;
}
.yeahh {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ActivitiesTwo {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

/*  */

.comments {
  width: 100vw;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom right, gainsboro ,gray);
}
.arrow {
  width: 70%;
  display: flex;
  justify-content: end;
}
.arrow img {
  width: 50px;
}
.commentuud {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
/*  */
.CommentContainer {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#star {
  width: 24px;
  height: 24px;
}
.userProfileContainer {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.productsContainer {
  width: 100vw;
  height: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0 10% 0;
  gap: 2%;
}
.productTexts {
  width: 700px;
  font-size: 18px;
}
.userInfo {
}

.blogContainer img {
  width: 100%;
}
.blogContainer h2 {
  width: 90%;
}
.blogContainer span {
  width: 90%;
}
.blogProfileContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}
.blogProfileContainer img {
  width: 54px;
  height: 54px;
}
.blogsContainer {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
.blogMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  padding-top: 60px;
}
.goodAfter {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.goodAfter p {
  font-size: 48px;
  font-weight: 600;
}
.goodAfter span {
  color: #6d7d8b;
}
.btnSrvc {
  width: 150px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: #6d7d8b;
}

.footer {
  width: 100vw;
  height: 340px;
  background-color: #252b3b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.useCasesFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 











